@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.div1 {
  position: relative;
  margin: auto;
  text-transform: none;
  color: #fff;
  background-color: #80b7b3;
  width: 300px;
  font-size: 68pt;
  padding: 26px 43px 43px 43px;
  font-family: Playfair Display;
  -webkit-box-shadow: 0px 24px 30px -15px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 24px 30px -15px rgba(34, 60, 80, 0.6);
  letter-spacing: 1px;
  z-index: 2;
  top: -439px;
}

.parent {
  text-align: center;
  position: relative;
  font-size: 189pt;
  text-transform: uppercase;
  font-family: poppins;
  color: #e9ebec;
  margin: 60px 0 0 0;
  letter-spacing: 60px;
  z-index: 1;
}

.parent button {
  color: #939ea2;
  text-decoration: none;
  border: none;
  padding: 10px;
  vertical-align: top;
  margin-top: 100px;
}
